@import '../../../scss/variables';

.todoWrapper {
	background-color: black;
	width: 300px;
	min-height: 300px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	border-radius: $radius;
	cursor: pointer;
	transition: transform 0.5s;
	border: 1px solid $text;
}
.todoWrapper:hover {
	color: rgb(83, 134, 6);
	border: 1px solid green;
	transition: 0.2s ease-out;
}
.todoComplete {
	color: rgb(83, 134, 6);
	transform: scale(0.9);
	border: 1px solid green;
	transition: 0.2s ease-in-out;
}
.todoContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: 20px 10px 0 10px;
	line-height: 1.4;
}

.titleContent {
	margin-bottom: 15px;
	font-size: 25px;
}
.titleContent p,
.descriptContent p {
	font-size: 20px;
}
.idContent {
	font-size: 10px;
}
